spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/personapidb
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver
    
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    
  flyway:
    enabled: true
    locations: classpath:db/migration